.docs{
    margin-left: 30%;
    margin-right: 15%;
    margin-top: 9%; 
}
.cartMain{
    color: #97144d;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1%;
  }
