.accounts-display{
  padding: 0.1%;
  margin: 0.1%;
  margin-top: 9%;
  width: 81%;
  height: 108%;
  transition: 0.3s;
  color: #01010c;
  margin-left: 255px;
  background-image: white; 
}
.para{
  width: 80%;
  margin-top: 50px;
  text-align: center;
  margin-left: 100px;
}
.linkColor{
color: rgb(0, 10, 2);
}
.accountscard1 {
  border-radius: 15px 15px 15px 15px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 21%;
  margin-left: 80px;
  height: 38%;
  padding: 10px 10px;
  text-align: center;
  text-decoration-color: #ededf0;
  background-image: linear-gradient(79deg, #dee2096c,#0a3afc86 48%, #64480b);
}

.tx{
  text-align: center;
  padding: 1%;
  margin: auto;
  text-decoration-color: #ededf0;
}

.accountscard1:hover {
  box-shadow: 0 18px 26px 0 rgba(0,0,0,0.2);
}

.accountcontainer1 {
  padding: 2px 16px;
  text-align: center;
  color: #97144d;
  float: center;
  padding: 0 10px;
}

.accountscard2 {
  border-radius: 15px 15px 15px 15px;
  margin-top: -320px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 21%;
  margin-left: 420px;
  height: 38%;
  padding: 10px 10px;
  text-align: center;
  text-decoration-color: #ededf0;
  background-image: linear-gradient(79deg, #dee2096c,#0a3afc86 48%, #64480b);
}
.linkColor{
  color: rgb(0, 10, 2);
}
.tx{
  text-align: center;

  text-decoration-color: #ededf0;
  
}
.accountscard2:hover {
  box-shadow: 0 18px 26px 0 rgba(0,0,0,0.2);
}

.accountcontainer2 {
  padding: 2px 16px;
  text-align: center;
  color: #97144d;
  float: center;
  padding: 0 10px;
}

.accountscard3 {
  border-radius: 15px 15px 15px 15px;
  margin-top: -323px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 21%;
  margin-left: 755px;
  height: 38%;
  padding: 10px 10px;
  text-align: center;
  text-decoration-color: #ededf0;
  background-image: linear-gradient(79deg, #dee2096c,#0a3afc86 48%, #64480b);
}
.tx{
  text-align: center;
  text-decoration-color: #ededf0;
  
}
.accountscard3:hover {
  box-shadow: 0 18px 26px 0 rgba(0,0,0,0.2);
}

.accountcontainer3 {
  padding: 2px 16px;
  text-align: center;
  color: #97144d;
  float: center;
  padding: 0 10px;
}
